.blogPage .blogs{
    width: 100%;
}
.blogPage .mainContainer .blog{
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    cursor: pointer;
}
.blogPage .blog img{
    width: 200px;
    height: 220px;
    border-radius: 20px;
}
.blogPage .item {
    margin: 30px;
    margin-bottom: 10px;
    border-radius: 20px;
    transition: 0.6s ease-in-out;
}
.blogPage .item:hover{
    transform: scale(0.8);
    margin-top: 20px;
}
.blogPage .item a{
    text-decoration: none;
    color: #fff;
}
.blogPage .blog p{
    
    color: #fff;
}
.skipButton {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
@media screen and (max-width: 768px) {
    .blogPage .mainContainer .blog{
        display: flex;
        place-content: center;
        cursor: pointer;
    }
}