.articleHeader {
    background-image: url('../images/financePerso.jpg');
    border-radius: 0;
    height: 350px;
    background-size: cover;
    background-position: center;
    display: flex;
    margin-top: 0;
}
.articleHeader h1 {
    color: white;
    text-align: center;
    padding-top: 120px;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
@media screen and (max-width: 768px) {
    .articleHeader {
        height: 200px;
    }
    .articleHeader h1 {
        font-size: 1.5em;
        padding-top: 70px;
    }
    
}