.container{ 
    background: linear-gradient(to bottom, #081b29, #000);
    height: 600px;
    width: 100%;
    padding-top: 10px;
    border-bottom-left-radius: 100% 80px;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10px;
    margin-right: 10px;
    margin-left: 10px;
}
.headerNav{
    display: flex;
    justify-content: space-between;
    background-color: #11365079;
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
.container .logo{
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.container .logo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.container .logo h3{
    margin-left: 10px;
    color: #fff;
    border-bottom: 1px solid #ffdc2b;
    cursor: pointer;
}

.container ul{
    display: flex;
    align-items: center;
    padding-right: 10px;
}
.container nav ul li{
    list-style: none;
    color: #fff;
    font-size: 13px;
    padding: 0 5px;
    transition: 0.6s ease-in-out;
    cursor: pointer;
}
.mobile{
    display: none;
    cursor: pointer;
}
.pc {
    background-color: #ffdc2b;
    border: none;
    border-radius: 20px;
    color: #0e2d43ee;
    padding: 10px 20px;
    border: 2px solid #ffdc2b;
    cursor: pointer;
    transition: 0.6s ease-in-out;
}
.pc:hover{
    border: 2px solid #fff;
}
.headerIntro{
    margin-top: 120px;
    margin-left: 40px;
}
.headerIntro h2{
    color: #ffdc2b;
    font-size: 30px;
    animation: fadeInMove 1.7s ease-in-out forwards;
    opacity: 0;
    transform: translateX(100px);
}
.sliderContainer {
  flex: 0.4;
  overflow: hidden;
  margin-right: 45px;
  margin-top: 70px;
}

.slideImage {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
}

/* Slick dots */
.slick-dots li button:before {
  color: #ffdc2b;
}

/* Arrows */
.slick-prev:before,
.slick-next:before {
  color: #fff;
}
@keyframes fadeInMove{
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
.headerIntro h3{
    color: #fff;
    font-size: 25px;
    animation: fadeInMove-two 1.7s ease-in-out forwards;
    opacity: 0;
    transform: translateY(50px);
}
@keyframes fadeInMove-two{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.active {
  color: #004cff;
  font-weight: bold;
  border-bottom: 2px solid #ffdc2b;
}

@media (max-width: 600px){
    .headerNav{
        flex-direction: column;
        align-items: center;
    }
    .container nav ul{
        
        gap: 10px;
        padding-bottom: 10px;
    }
    .container nav ul li{
        font-size: 12px;
    }
    .content{
        display: block;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 10px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .pc{
        display: none;
    }
    .mobile{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    .mobile button{
        background-color: #ffdc2b;
        border: none;
        border-radius: 20px;
        color: #0e2d43ee;
        padding: 10px 20px;
    }
    .sliderContainer {
        margin-right: 40px;
        width: 300px;
        justify-content: center;
        margin-top: 20px;
        overflow: visible;
        flex: 0;
        margin-left: 55px;
        flex: 0.4;
        padding: 0;
    }
    .slideImage{
        height: 200px;
    }
    .headerIntro{
        margin-top: 40px;
        margin-left: 0px;
        text-align: center;
    }
    .headerIntro h2{
        font-size: 22px;
    }
    .headerIntro h3{
        font-size: 18px;
    }
}